Checks: >
  -*,
  clang-analyzer-*,
  bugprone-assert-side-effect,
  bugprone-branch-clone,
  bugprone-exception-escape,
  performance-move-const-arg
WarningsAsErrors: >
  clang-analyzer-*,
  bugprone-*
HeaderFilterRegex: '^(include/zoo|src|tests|examples)/'
FormatStyle: file
